body {
  margin: 0;
  padding: 0;
  font-family: brandon-grotesque, sans-serif;
  width: 100%;
  height: 100vh;
  background-color: #FEF3F0;
}
#root {
 /* overflow: hidden;*/
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.root {
  margin: 0;
  padding: 0;
  font-family: brandon-grotesque, sans-serif;
  width: 100%;

}

/*--------nav bar----------*/

.navigation {
  position: relative;
  width: 100%;
  background-color: #f7fbfb; /*#F9D8C7*/
  height: 260px;
  z-index: 900;
  color: #393E41;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.navigation a {
  color: #393E41;
  margin: 10px 15px;
  text-decoration: none;
}

.active {
  color: #393E41;
  margin: 10px 15px;
  border-bottom: 1px solid #393E41;
}


/*--------ui / ux----------*/

.web {
  position: relative;
  width: 100%;
  background-color: #FEF3F0;
}

.project-row {
  width: 100%;
  height: 480px;
}

.project-row a {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-decoration: none;
}

.project-img {
  background-color: #D1DCE4;
  width: 70%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.project-img img {
  width: 88%;
  height: auto;
  margin-top: 70px;
}

.project-img .lyft {
  margin-top: 40px;
  width: 95%;
}

.project-desc {
  width: 30%;
  background-color: #fff;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.gray {
  background-color: #f7fbfb;
}

.white {
  background-color: #F7F5EF;
}

.project-desc h1 {
  color: #393E41;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: .3px;
  line-height: 28px;
  margin: 30px 40px 0px;
}

.project-desc h2 {
  color: #393E41;
  font-family: 'EB Garamond', serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: normal;
  margin: 30px 40px 0px;
}

.project-desc p {
  display: inline-block;
  color: #393E41;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
  letter-spacing: normal;
  background: linear-gradient(0deg, #DAEFB3 50%, #fff 50%);
  margin: 30px 40px;
}

/*//hubble */

.hubble {
  width: 100%;
  background-color: #D1DCE4;
}

.container {
  margin: 0 auto;
  max-width: 1000px;

}

.content h1 {
  margin-bottom: 10px;
}
.content h2 {
  margin-bottom: 10px;
}

.content p {
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  line-height: 26px;
}

.lp-image img {
  width: 70%;
}

/*--------graphics----------*/

.graphic {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  padding-top: 0px;
  padding-bottom: 3px;
  background-color: #E1E5E1;
}

.square {
  height: auto;
  width: 33%;
  margin-top: 3px;
  margin-left: 3px;
  background-color: white;
  overflow: hidden;
  //border-radius: 10px;
}

.square img {
  width: 100%;
}

/*--------about----------*/

.about {
  margin-top: 0px;
  position: relative;
  width: 100%;
  background-color:  #F7F5EF; /*#BDE5DF;*/
  height: calc(100vh - 280px);
  min-height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info {
  text-align: left;
  margin-left: 150px;
}

.gif {
  display: flex;
  align-items: center;
}

.gif img {
  width: 65%;
  margin: 0 auto;
  display: inline-block;
}

.info h2 {
  font-family: 'EB Garamond', serif;
  font-weight: 100;
  letter-spacing: .3px;
  font-size: 26px;
  color: #393E41;
  margin-bottom: 0px;
}

.info h1 {
  font-weight: 600;
  font-size: 22px;
  color: #393E41;
  background: linear-gradient(0deg, #DAEFB3 40%, transparent 40%);
}

.info p {
  line-height: 28px;
}

span {
  background: linear-gradient(0deg, #DAEFB3 40%, transparent 40%);
}

h1, h2, h3 {
  font-family: brandon-grotesque, sans-serif;
  position: relative;
  display: inline-block;
}


.info a {
  text-decoration: none;
  color: #393E41;
  margin-top: 20px;
  display: inline-block;
}

a:hover {
  color: #F8B0A5;
}

.red {
  color: #F8B0A5;
}

/*--------home----------*/

.home {
  position: relative;
  width: 100%;
  height: calc(100vh - 260px);
  min-height: 400px;
  background-color: #FEF3F0;
  overflow: hidden;
}

.react-draggable {
  width: 100px;
}

.handle {
  width: auto;
  height: 27px;
  background-color: white;
  box-shadow: 3px 2px 5px;
  margin: 0px;
  padding: 6px 14px 0px 10px;
  font-family: "Times New Roman", Georgia, Serif;
  letter-spacing: .9px;
  font-size: 17px;
  cursor: default;
}

.handle-original {
  width: auto;
  height: 27px;
  background-color: white;
  box-shadow: 3px 2px 5px;
  margin: 0px;
  padding: 6px 14px 0px 10px;
  font-family: "Times New Roman", Georgia, Serif;
  letter-spacing: .9px;
  font-size: 17px;
  cursor: default;
}

.pic-ice {
  width: 110px;
  height: 150px;
  background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/dmwi5lxjc/image/upload/v1501777328/web-06_moxtg3.svg);
  color: transparent;
}
.pic-cactus {
  width: 110px;
  height: 150px;
  background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/dmwi5lxjc/image/upload/v1501777329/web-07_u4pvjz.svg);
  color: transparent;
}
.pic-sun {
  width: 110px;
  height: 100px;
  background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/dmwi5lxjc/image/upload/v1501777326/web-08_ghswkm.svg);
  color: transparent;
}

.pic-large {
  width: 210px;
  color: transparent;
}

.pic-taco {
  width: 170px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/dmwi5lxjc/image/upload/v1501777328/web-09_f4k7uu.svg);
  display: none;
  color: transparent;
}

.pic-taco2 {
  width: 170px;
  height: 90px;
  background-repeat: no-repeat;
  background-image: url(http://res.cloudinary.com/dmwi5lxjc/image/upload/v1501777328/web-09_f4k7uu.svg);
  display: none;
  color: transparent;
}

.magnet-form {
  height: 50px;
  position: relative;
  color: pink;
  font-family: brandon-grotesque, sans-serif;
  margin: 20px 0 0 20px;
  display: inline-block;
}

.magnet-form input {
  border-style: none;
  border: 1px solid #393E41;
  /*border-right: none;*/
  height: 30px;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  padding-left: 10px;
  width: 150px;
}

input[type="submit" i] {
  background: linear-gradient(0deg, transparent 10%, #DAEFB3 10%, #DAEFB3 52%, transparent 52%);
  height: 32px;
  border: none;
  color: #393E41;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  padding: 0 2px;
  line-height: 0px;
  width: 115px;
  margin: 0px;
  margin-left: 15px;
  margin-top: 2px;
}

input:focus {
  outline: none;
}

input[type="submit" i]:active {
  background-color: #F9E3A2;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

a.close {
  position: absolute;
  top: -3px;
  right: 2px;
  font-family: brandon-grotesque, sans-serif;
  font-size: 13px;
  color: hotpink;
  display: none;
}

.handle:hover a.close {
  display: inline;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 150px;
  background: #f7fbfb;
  color: #6F7274;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.footer a {
  margin: 40px 20px;
  color: #6F7274;
  text-decoration: none;
}


/*~~~~~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~MEDIA QUERIES~~~~~~~~~~~~~~~~~*/

@media only screen and (max-width : 768px) {

}
